<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLURRY_API_KEY</key>
	<string>SET_BY_PLIST_BUDDY</string>
	<key>HEAP_APP_ID</key>
	<string>SET_BY_PLIST_BUDDY</string>
	<key>PARSE_APPLICATION_ID</key>
	<string>SET_BY_PLIST_BUDDY</string>
	<key>PARSE_CLIENT_KEY</key>
	<string>SET_BY_PLIST_BUDDY</string>
</dict>
</plist>
